/* COMMON */
img{
    max-width: 100%;
}
.ms_wrapper{
    height: 100vh;
    width: 100%;
   
}
/* HEADER */
.ms_header{
    height: 70px;
  
}
.ms_logo-mobile{
    width: 30px;
}
.form-control:focus {
    box-shadow: none;
    border-color:lightgray;
}
/* HEADER HOVER */
.ms_bell{
    position: relative;
} 
 .ms_bell-list{
    position: absolute;
    bottom: -120px;
    left: -110px;
    z-index: 1;
    display: none;
}

.ms_bell:hover .ms_bell-list{
    display: inline-block;
}

/* MAIN */

/* SIDEBAR */
.ms_sidebar{
    height:calc(100vh - 70px);
    width: 70px;
   background-image: url(../img/sidebar-bg.png);
   position: relative;
   background-color:black

   

}
.ms_sidebar li:last-child{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%,0);
    

}
.ms_ul{
    list-style-type:none;
    padding-inline-start: 0;
}
/* HOVER SIDEBAR */
.ms_sidebar li{
    width: 50%;
    margin: 0 auto;
}
.ms_sidebar li:hover{
    background-color: #f1f5f82d;
}
/* MAIN_CONTENT */
.ms_main-content{
    height: calc(100vh - 70px);
    width: calc(100% - 70px);
    /* debug */
    background-color: aqua;
    overflow: auto;
   
}
.badge.ms_badge{
    background-color: rgba(0, 0, 0, 0.186);
}
.ms_btn-plus{
    display: inline-block;
    font-size: .8rem;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid white;
    line-height: 30px;
    text-align: center;
    padding: 0;
}
.ms_circle{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    
}
.ms_plus{
    position: relative;
    right: 3px;
}
/* ACTIVE *+*/


.ms_form-active{
    display: none;
    height: 100vh;
    background-color: rgb(255, 0, 30);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.ms_active-section:active{
    display: inline-block;
}
@media screen and (min-width:992px){
    .ms_sidebar{
        width: 200px;
    }
  .ms_main-content{
    width: calc(100% - 200px);
  }

}

/* TABLE */

.ms_classe::before{
     
    display: inline-block;
    content: url(../img/class-avatar.jpg);
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
  overflow: hidden;
    margin-right: 1rem;
    vertical-align: middle;
    filter: invert(1);
    
}
.ms_class{
    width: 100%;
}

.table tr{
    border-bottom: 1px solid lightgrey;
}
.table>:not(caption)>*>* {border-bottom-width: 0;}

/* TODO */
.input-group-text {
    background-color: white;
}
.form-control{
    border-left:0;
}